body {
    background-color: #E0B459;
    font-size: 100%;
    color: #2C232C;
}
#header {
    border: 2px solid #2C232C;
}

#header h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 5em;
}

.aboutme {
    border: 2px solid yellow;
}

img {
    width: 20%;
    
}
.aboutme h1 {
    font-size: 2.5em;
}
.aboutme p {
    font-style: italic;
    font-size: 1.5em;
}

img, .projects, .column {
    float: left;
}
.projectsheader {
    border: 2px solid red;

}
.projects {
    border: 2px solid green;
    padding: 30px;
    margin: 30px;

}

.extra {
    border: 2px solid purple;
    float: left;
}
.bottom {
    border: 2px solid white;
    float: left;
    width: 300px;
}

.fancy {
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;;
}



