body {
    background-color: #E0B459;
    font-size: 100%;
    color: #212035;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 5em;
}
img {
    max-width: 20%;
    height: auto;
    float: left; 
}
.aboutme h2 {
    font-size: 2.5em;
}
.aboutme p {
    font-style: italic;
    font-size: 1.5em;
}

.projectlist {
    float: left;
}
.column {
    float: left;
}